{% extends "layout.html" %}

{% block title %}
    InfoMercado Dados Individuais - Home
{% endblock %}

{% block main %}
    
    <p>A Câmara de Comercialização de Energia Elétrica (CCEE) disponibiliza relatórios mensais com o panorama de mercado. 
        Esses dados são sumarizados em umarquivo .xlsx nomeado por “InfoMercado Dados Individuais</p>
    <p>Se deseja importar estes dados atualizados, clique no menu "Importar" na região superior direitor da página.</p>
    <p>Caso deseje exportar dados já importados, clique em exportar na região superior direitor da página.</p>

{% endblock %}
